body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: black;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 1.5rem;
  }

  /* ScoreBoard */
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

.scoreboard {
  display: flex;
  flex-direction:row;
}

.scoreboard > * {
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
  border-right: 1px solid white; 
  height: 55px; 
  font-weight: bold; 
}

.scoreboard > *:first-child {
  border-left: 1px solid white;
}

.team {
  display: flex;
  flex-direction: row;
  color: white; 
}

.team-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.team-detail {
  padding: 0em 0.5em; 
}

.team-detail {
  font-size: 1.5em; 
}

.team-detail .team-nameandscore {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.team-detail .team-thisgame {
  width: 150px; 
  font-size: 0.5em; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.8;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222; 
}

.timer-container {
  display: flex;
  flex-direction: row; 
}

.timer-container > * {
  border-right: 1px solid white; 
  padding: 0em 1em; 
  color: white;
}

.timer-container > *:last-child {
  border-right: 0; 
  color: yellow; 
}

.logo {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  padding: 0em 0.5em; 
  background-color: black; 
}

.logo img {
  width: 100px; 
}

/* Game */ 

.houston {
  background-color: crimson;
}

.dallas {
  background-color: steelblue; 
}


.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: black;
	color: white;
}

.headin{
	text-align: center;
	text-decoration: none;
	color: black;
	margin: 30px;
	display: block;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: #77ff21;
}

.pos{
	text-align: center;
}

.pos td{
	color: #ff7b21;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #77ff21;
}

.wpos:hover td{
	color: #000000;
}

.pos:hover{
	background-color: #ff7b21;
}

.pos:hover td{
	color: #000000;
}

/* Customize the label (the container) */
.inputcontainer {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.inputcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.inputcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.inputcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.inputcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.inputcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .answer-container {
  margin: auto;
  width: 95%;
} */
/* .secondchoice {
  margin-left: 15px;
} */

.inputFieldPoints {
  width: 40px;
  border: solid;
}

#myModal {
  margin-top: 30%
}