body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: black;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* ScoreBoard */
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

.scoreboard {
  display: flex;
  flex-direction:row;
}

.scoreboard > * {
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
  border-right: 1px solid white; 
  height: 55px; 
  font-weight: bold; 
}

.scoreboard > *:first-child {
  border-left: 1px solid white;
}

.team {
  display: flex;
  flex-direction: row;
  color: white; 
}

.team-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.team-detail {
  padding: 0em 0.5em; 
}

.team-detail {
  font-size: 1.5em; 
}

.team-detail .team-nameandscore {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.team-detail .team-thisgame {
  width: 150px; 
  font-size: 0.5em; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.8;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222; 
}

.timer-container {
  display: flex;
  flex-direction: row; 
}

.timer-container > * {
  border-right: 1px solid white; 
  padding: 0em 1em; 
  color: white;
}

.timer-container > *:last-child {
  border-right: 0; 
  color: yellow; 
}

.logo {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  padding: 0em 0.5em; 
  background-color: black; 
}

.logo img {
  width: 100px; 
}

/* Game */ 

.houston {
  background-color: crimson;
}

.dallas {
  background-color: steelblue; 
}
